a {
	color: #000;
	text-decoration: none;

	transition: opacity 0.3s ease;
	will-change: opacity; /* :D */
}

a:hover {
	opacity: 60%;
}

html, body {
	height: 100%;
	width:  100%;
	min-height: 100vh;
	min-width:  1511px;

	margin:  0;
	padding: 0;

	font-family: "Poppins", sans-serif !important;
	font-size: 22px;
	color: #000;

	background: #FEBB41;
}

.wrapper {
	width: 1511px;

	margin: 121px auto;
	padding: 48px 86px;

	background: #F4ECE1; /* fallback */
	background: linear-gradient(304.58deg, #F4ECE1 57.1%, #FCFBF7 145.5%);

	border-radius: 24px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;

	margin-top: -8px;
}

.logo__text {
	margin-left: 6px;

	font-size: 32px;
	font-weight: 600;
	line-height: 130%;
}

.nav__link {
	display: inline-block;
}

.nav__link + .nav__link {
	margin-left: 56px;
}
